.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  font-size: 0.9rem;
  transition: transform 0.2s, opacity 0.2s;
}

.btn:active {
  transform: scale(0.98); /* Efeito de clique */
}

.btn-primary {
  background-color: var(--primary-color);
  color: white;
}

.btn-secondary {
  background-color: #e0e0e0;
  color: #333;
}

.btn:hover {
  opacity: 0.9;
}